backup/**
auto-save-list/**
recentf
#recentf#
saved-places
projectile-bookmarks.eld
ac-comphist.dat
tutorial
projectile.cache
project-explorer-cache/**
tramp
%backup%~
recentf*
*.elc
*.elc~
session.*
project-explorer-cache/**